{% extends 'base.html' %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="page">
  <section class="form-panel">
    <header class="logo" id="logo">
      <div class="logo__icon" aria-hidden="true">
        <i class="fa-solid fa-heart-pulse"></i>
      </div>
      <div>
        <p class="logo__name">DigiHealth</p>
        <p class="logo__sub">Password reset</p>
      </div>
    </header>

    <div class="page-heading" id="pageHeading">
      <h1>Success!</h1>
      <p>Your password has been updated. Use your new password to sign in.</p>
    </div>

    <div class="form__row">
      <a href="{% url 'accounts:login_page' %}" class="link--forgot">Back to login</a>
    </div>
  </section>
</div>
{% endblock %}
